h1 {
  border: 2px solid green;
  background-color: #409D76;
  padding: 1px;
  margin: 0em;
  width: 350px;
  text-align: center;
  margin-left: 35%;
}
.projects {
  width: 45%;
  float:left;
  margin-left: 1.5rem;
  margin-right: 1rem;
}
h2 {
  border: 2px #178DFA;
  background-color: #178DFA;
  padding: 1px;
  margin-bottom: 0;
}
