h1 {
  border: 2px solid green;
  background-color: #409D76;
  padding: 1px;
  margin: 0em;
  width: 350px;
  text-align: center;
  margin-left: 35%;
}
.projects{
float: none;
width: 30%
}
.h2.projects{

}
.p.projects{

}
