.topright{
  justify-content: space-between;
  float:left;
  border-left: 3em;
  flex-direction: column;
}
body {
  background-color:#4DC7E1;
  font-family: sans-serif;
  font-size: 1rem;
  color: black;
  min-height: 100vh;
}
.main-section{
margin-bottom: 0;
border-top: 10rem;
}
